
<div class="row " id="row-sale-list">
  <div class="col-xs-12">

  </div>
</div>

<div class="row " id="row-sale-template">
  <div class="col-xs-12">
    <select class: 'form-control'></select>
  </div>
</div>



<script>
      $(function () {
        //Initialize Select2 Elements
        initRowSale();
     });
</script>