<div class="row">
	
	<div class="col-xs-12 col-sm-6">
      
      <button id="new_bill" type="button" class="btn btn-default pull-left" data-toggle="modal" data-target="#modal-bill">Nueva Venta</button>

	</div>


</div>


<div class="example-modal">
  <div class="modal fade modal-default" id="modal-bill">
    <div class="modal-dialog" style="width:80%;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Datos de la venta</h4>
        </div>
        <div class="modal-body">
          <div class="row " id="row-products">
            <div class="col-xs-12">
              <select class: 'form-control'></select>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div><!-- /.example-modal -->  