         <!-- Main content -->
        <section class="content">
        
        </section><!-- /.content -->



<br>



<div class="row">
    <div class="col-xs-1 col-sm-0"> </div>
    <div class="col-xs-10 col-sm-12"> 
<%= link_to 'Agregar Productos', owner_commerce_new_store_product_path(@commerce,@store),class:"visible-xs btn btn-block btn-primary btn-lg"%>
<%= link_to 'Agregar Productos', owner_commerce_new_store_product_path(@commerce,@store),class:"hidden-xs btn btn-primary "%>

    </div>
    <div class="col-xs-1 col-sm-0"> </div>

</div> 