       <!-- Main content -->
        <section class="content">
          <%= render 'deposits_table' %>
        </section><!-- /.content -->


 <script>
      $(function () {
        $("#deposits_table").DataTable({
          "language": {
            "url": "/plugins/datatables/dataTables.spanish.lang"
          },
          "columnDefs": [ {
          "targets": 'no-sort',
          "orderable": false,
          "searchable": false
          } ],
          stateSave: true
        });
      });
</script>
<br>

<%= link_to 'Nuevo  depósito', current_user.admin? ? new_deposit_path : new_deposit_of_commerce_path(@commerce) ,class:"visible-xs btn btn-block btn-primary btn-lg"%>
<%= link_to 'Nuevo  depósito', current_user.admin? ? new_deposit_path : new_deposit_of_commerce_path(@commerce) ,class:"hidden-xs btn btn-primary "%>




                        