<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @seller.user.profile.complete_name %>
</p>

<p>
  <strong>Comercio:</strong>
  <%= @seller.commerce.nombre %>
</p>

<p>
  <strong>Tienda:</strong>
  <%= @seller.store.nombre %>
</p>

