<p>
  <strong>Descripcion:</strong>
  <%= @commerce.descripcion %>
</p>

<section class="content">
 <%= render 'owner/deposits/deposits_table' %>
 <%= render 'owner/stores/stores_table' %>
 <%= render 'owner/sellers/sellers_table' %>


</section><!-- /.content -->





